body {font-family: arial narrow; font-size: 14px;}
.tdrh {border:1px solid #000000; font-weight: bold; text-align: center;}
.tdrh0 {border:1px solid #5A5A5A; text-align: center; font-size: 10px; padding-left: 2px; padding-right: 2px;}
.tdrc1 {border:1px solid #ddd; padding-left: 5px; padding-right: 5px;}
.tdrc2 {border:1px solid #ddd; width: 100%; padding-left: 5px; padding-right: 5px;}